html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background:
    linear-gradient(120deg,
    rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 69%, rgba(7, 0, 105, 0.5) 75%, 
    rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 79%, rgba(0, 32, 139, 0.5) 80%, 
    rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 87%, rgba(0, 72, 139, 0.2) 90%, 
    rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 139, 0.5) 100%),
    linear-gradient(150deg,
    rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 69%, rgba(0, 25, 139, 0.5) 70%, 
    rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 80%, rgba(0, 2, 139, 0.5) 85%, 
    rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 89%, rgba(0, 77, 139, 0.5) 90%, 
    rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 91%, rgba(0, 25, 139, 0.5) 100%);
    background-color: rgb(0, 0, 0);

    font-family: "Gill Sans", sans-serif;
    /* color: white; */
}

section {
    /* border-style: solid; */
    /* border-color: white; */
    color: white;
}

.language-card {
    /* border-style: solid;
    border-color: white; */
    box-sizing: border-box;
}

#main-zone {
    /* border-style: solid; */
    /* border-color: pink; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    height: 800px;

}

#main-section {
    border-radius: 15px;

    grid-column: 1/4;

    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px 0px 20px 20px;

    overflow: hidden;
    display: flex;
}

#right-panel {
    border-radius: 15px;

    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px;
}

#navbar-ls {
    background-color: rgba(119, 136, 153, 0.171);

    list-style-type: none;
    margin: 0;
    padding: 0;

    /* height: 70px; */
    overflow: hidden;

    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-ls li {
    /* float: left; */
    /* height: 70px; */
    height: 80px;
    display: flex;
    align-items: center;

    transition: background-color 0.4s;
}

.nav-el:hover {
    background-color: black;
}

#navbar-ls li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;

}

#navbar-logo a img {
    height: 50px;
}

#connection-zone {
    flex-grow: 1;
}

#lang-c-about {
    background-color: rgba(255, 0, 0, 0.1);
    width: calc(100% / 6);
    transition: width 0.6s, background-color 1s;
}
#lang-c-about:hover {
    background-color: rgba(255, 0, 0, 0.3);
    width: calc(100% / 1);
}
#lang-c-about:hover ~ .language-card { 
    width: calc(100% / 10); 
}

#lang-c-php {
    position: relative;
    overflow:hidden;
    /* background-color: rgb(24, 26, 133, 0.1); */
    /* background-image: url("../Ressources/php-logo.png");
    background-repeat: no-repeat; */
    width: calc(100% / 6);
    transition: width 0.6s, background-color 1s;
}
#lang-c-php::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    top: 30%;
    left: -150%;
    z-index: -1;
    background: url("../Ressources/php-logo.png") 0 0 no-repeat;
    background-size: 80%;
    /* transform: rotate(30deg); */
    transform: rotate(90deg);
    transition: transform 1s, left 0.4s, background-size 1s;
}
#lang-c-php:hover {
    background-color: rgb(24, 26, 133, 0.3);
    width: calc(100% / 1);
}
#lang-c-php:hover ~ .language-card {
    width: calc(100% / 10);
}
#lang-c-php:hover::before {
    transform: rotate(30deg);
    left: 0%;
    background-size: 50%;
}

#lang-c-js {
    background-color: rgba(255, 255, 0, 0.1);
    width: calc(100% / 6);
    transition: width 0.6s, background-color 1s;
}
#lang-c-js:hover {
    background-color: rgba(255, 255, 0, 0.3);
    width: calc(100% / 1);
}
#lang-c-js:hover ~ .language-card {
    width: calc(100% / 10);
}

#lang-c-cpp {
    background-color: rgba(38, 114, 255, 0.1);
    width: calc(100% / 6);
    transition: width 0.6s, background-color 1s;
}
#lang-c-cpp:hover {
    background-color: rgba(38, 114, 255, 0.3);
    width: calc(100% / 1);
}
#lang-c-cpp:hover ~ .language-card {
    width: calc(100% / 10);
}

#lang-c-01 {
    background-color: rgba(0, 128, 0, 0.1);
    width: calc(100% / 6);
    transition: width 0.6s, background-color 1s;
}
#lang-c-01:hover {
    background-color: rgba(0, 128, 0, 0.3);
    width: calc(100% / 1);
}
#lang-c-01:hover ~ .language-card {
    width: calc(100% / 10);
}

#lang-c-02 {
    background-color: rgba(255, 166, 0, 0.1);
    width: calc(100% / 6);
    transition: width 0.6s, background-color 1s;
}
#lang-c-02:hover {
    background-color: rgba(255, 166, 0, 0.3);
    width: calc(100% / 1);
}
#lang-c-02:hover ~ .language-card {
    width: calc(100% / 10);
}